.logo {
  margin: 1px 40px 1px 0;
}

.logo a {
  text-decoration: none;
}

.logo span {
  font-size: 1.4em;
  font-weight: bold;
  color: $black;
  white-space: nowrap;
}

.logo em {
  font-style: normal;
  color: $primary-color;
}

.global-footer .logo span, .footer-example .logo span {
  color: $white;
}
